In [1]:
#1 STEP
import pandas as pd

In [2]:
import numpy as np

In [5]:
data = pd.read_csv('winemag-data_first150k.csv')

In [6]:
#2 STEP
print(data.head())

   Unnamed: 0 country                                        description  \
0           0      US  This tremendous 100% varietal wine hails from ...
1           1   Spain  Ripe aromas of fig, blackberry and cassis are ...
2           2      US  Mac Watson honors the memory of a wine once ma...
3           3      US  This spent 20 months in 30% new French oak, an...
4           4  France  This is the top wine from La Bégude, named aft...

                            designation  points  price        province  \
0                     Martha's Vineyard      96  235.0      California
1  Carodorum Selección Especial Reserva      96  110.0  Northern Spain
2         Special Selected Late Harvest      96   90.0      California
3                               Reserve      96   65.0          Oregon
4                            La Brûlade      95   66.0        Provence

            region_1           region_2             variety  \
0        Napa Valley               Napa  Cabernet Sauvignon
1               Toro                NaN       Tinta de Toro
2     Knights Valley             Sonoma     Sauvignon Blanc
3  Willamette Valley  Willamette Valley          Pinot Noir
4             Bandol                NaN  Provence red blend

                    winery
0                    Heitz
1  Bodega Carmen Rodríguez
2                 Macauley
3                    Ponzi
4     Domaine de la Bégude

In [7]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   150930 non-null  int64
 1   country      150925 non-null  object
 2   description  150930 non-null  object
 3   designation  105195 non-null  object
 4   points       150930 non-null  int64
 5   price        137235 non-null  float64
 6   province     150925 non-null  object
 7   region_1     125870 non-null  object
 8   region_2     60953 non-null   object
 9   variety      150930 non-null  object
 10  winery       150930 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 12.7+ MB
None

In [8]:
print(data.describe())

          Unnamed: 0         points          price
count  150930.000000  150930.000000  137235.000000
mean    75464.500000      87.888418      33.131482
std     43569.882402       3.222392      36.322536
min         0.000000      80.000000       4.000000
25%     37732.250000      86.000000      16.000000
50%     75464.500000      88.000000      24.000000
75%    113196.750000      90.000000      40.000000
max    150929.000000     100.000000    2300.000000

In [9]:
#3 STEP
data = data.drop_duplicates()

In [10]:
data.drop('Unnamed: 0', axis = 1, inplace = True)

In [11]:
data.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [12]:
data.isnull().sum()

country            5
description        0
designation    45735
points             0
price          13695
province           5
region_1       25060
region_2       89977
variety            0
winery             0
dtype: int64

In [13]:
data.describe()

              points          price
count  150930.000000  137235.000000
mean       87.888418      33.131482
std         3.222392      36.322536
min        80.000000       4.000000
25%        86.000000      16.000000
50%        88.000000      24.000000
75%        90.000000      40.000000
max       100.000000    2300.000000

In [14]:
data.shape

(150930, 10)

In [15]:
data = data.dropna(subset=['country', 'price', 'points'])

In [16]:
data.shape

(137230, 10)

In [17]:
data.isnull().sum()

country            0
description        0
designation    42311
points             0
price              0
province           0
region_1       22837
region_2       76526
variety            0
winery             0
dtype: int64

In [18]:
data.dtypes

country         object
description     object
designation     object
points           int64
price          float64
province        object
region_1        object
region_2        object
variety         object
winery          object
dtype: object

In [20]:
price_quality_ratio = data['price'] / data['points']

In [22]:
data['price_quality_ratio'] = price_quality_ratio

In [23]:
best_value_wine = data.loc[data['price_quality_ratio'].idxmin()]

In [24]:
data.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery,price_quality_ratio
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,2.447917
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,1.145833
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,0.937500
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,0.677083
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,0.694737

In [25]:
data['price_quality_ratio'].idxmin()

25645

In [26]:
data['price_quality_ratio'].min()

0.046511627906976744

In [27]:
data[data['price_quality_ratio'] == data['price_quality_ratio'].min()]

,country,description,designation,points,price,province,region_1,region_2,variety,winery,price_quality_ratio
25645,US,"There's a lot going on in this Merlot, which i...",NaN,86,4.0,California,California,California Other,Merlot,Bandit,0.046512
48655,US,"There's a lot going on in this Merlot, which i...",NaN,86,4.0,California,California,California Other,Merlot,Bandit,0.046512
73417,Romania,Notes of sun-dried hay and green flower highli...,UnWineD,86,4.0,Viile Timisului,NaN,NaN,Pinot Grigio,Cramele Recas,0.046512
80185,US,"There's a lot going on in this Merlot, which i...",NaN,86,4.0,California,California,California Other,Merlot,Bandit,0.046512
99045,Portugal,"This is a ripe-fruited wine, rich with dried f...",Toutalga,86,4.0,Alentejano,NaN,NaN,Portuguese Red,Herdade dos Machados,0.046512
126595,US,"There's a lot going on in this Merlot, which i...",NaN,86,4.0,California,California,California Other,Merlot,Bandit,0.046512

In [31]:
data.groupby('country')['points'].mean().sort_values(ascending = False)

country
England                   92.750000
Austria                   89.190898
Germany                   88.610567
France                    88.603314
Italy                     88.445006
Canada                    88.221649
Portugal                  88.176724
Slovenia                  88.172840
Morocco                   88.166667
Turkey                    88.140000
Albania                   88.000000
US-France                 88.000000
Australia                 87.881488
US                        87.817200
Serbia                    87.714286
India                     87.625000
New Zealand               87.542671
Hungary                   87.304348
Switzerland               87.250000
South Africa              87.211444
Israel                    87.155738
Luxembourg                87.000000
Spain                     86.638725
Croatia                   86.493976
Chile                     86.298127
Greece                    86.103211
Argentina                 86.001074
Cyprus                    85.870968
Czech Republic            85.833333
Lebanon                   85.702703
Georgia                   85.511628
Bulgaria                  85.467532
Japan                     85.000000
Romania                   84.920863
Macedonia                 84.812500
Mexico                    84.761905
Bosnia and Herzegovina    84.750000
Moldova                   84.718310
Ukraine                   84.600000
Uruguay                   84.541176
Lithuania                 84.250000
Slovakia                  83.666667
Brazil                    83.240000
Montenegro                82.000000
China                     82.000000
South Korea               81.500000
Name: points, dtype: float64

In [32]:
data['price'].describe()

count    137230.000000
mean         33.132019
std          36.323072
min           4.000000
25%          16.000000
50%          24.000000
75%          40.000000
max        2300.000000
Name: price, dtype: float64

In [33]:
data.groupby('winery')['points'].mean().sort_values(ascending=False).head(10)

winery
Sloan                           100.0
Mascarello Giuseppe e Figlio     99.0
Clos de Tart                     98.0
Domaine Bruno Clair              97.0
Au Sommet                        97.0
Gandona                          97.0
Vieux Château Certan             97.0
Cardinale                        97.0
Ovid                             97.0
Château Climens                  96.8
Name: points, dtype: float64